:root{
    --fundo-site: #d1cfce;
    --background-cabecalho: #c44024;
    --fundo-texto: #fff;
    --borda-cabecalho: #333130;
}

.body{
    background-color: var(--fundo-site);
}

.cabecalho {
    text-align: center;
    justify-content: center;
    padding: 24px 0;
    background-color: var(--background-cabecalho);
}

.imagem-pizza-cabecalho{
    width: 15%;
}

.textos-cabecalho{
    width: 110%;
    border-radius: 2cap;
    border-color: var(--borda-cabecalho);
    background-color: var(--fundo-texto);
}