:root{
    --fundo-site: #d1cfce;
    --background-cabecalho: #c44024;
    --fundo-texto: #fff;
    --borda-cabecalho: #333130;
    --pizzasuculentabg: #2f710f;
}

.body{
    background-color: var(--fundo-site);
    font-size: large;
}

.cabecalho {
    text-align: center;
    justify-content: center;
    padding: 24px 0;
    background-color: var(--background-cabecalho);
}

.imagem-pizza-cabecalho{
    width: 15%;
}

.textos-cabecalho{
    border: 3px var(--borda-cabecalho);
    border-radius: 20px;
    background-color: var(--fundo-texto);
}

.partedebaixo{
    display: flex;
    padding: 20px;
}

.primeiraparte{
    background-color: var(--pizzasuculentabg);
}

.segundaparte{
    width: 20%;
}